{{!-- <pre>{{ err }}</pre> --}}

{{!-- <h1>{{ data.customeMessage}}</h1> --}}
<div class="error-block">
    <div class="error-content">
        <h3 class="error-status">{{ data.status }}</h3>
        <div class="red-line"></div>
        <p class="error-message">{{ data.message }}</p>
    </div>
</div>
<div class="image-block">
    <img src="images/cat.png" alt="sad cat">
</div>