<div class="home-container">
    {{#each sections}}
    <div class="container-section">
        <div class="container-section-top">
            <img src="images/{{image}}" alt="favourite-thing">
        </div>
        <div class="container-section-bottom">
            <h2 class="section-bottom-title">{{heading}}</h2>
            <a href="{{ID}}" class="section-bottom-btn {{anchor}}">
                <p class="section-bottom-btn-text">Learn more</p>
            </a>
        </div>
    </div>
    {{/each}}
</div>
