<div class="home-container">
    {{#each sections}}
    <div class="container-section">
        <div class="container-section-top">
            <img src="images/{{image}}" alt="favourite-thing">
        </div>
        <div class="container-section-bottom">
            <h2 class="section-bottom-title">{{heading}}</h2>
            <a href="{{ID}}" class="section-bottom-btn {{anchor}}">
                <p class="section-bottom-btn-text">Learn more</p>
            </a>
        </div>
    </div>
    {{/each}}
</div>

<!-- This will be rendered on the clien side with AJAX data -->
<section class="lightbox">
    <div class="lightbox-container">
        <div class="close-icon">
            <svg width="50" height="50" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg">
                <circle cx="26" cy="26" r="25" stroke="black"/>
                <rect width="38.2892" height="3.82892" rx="1.91446" transform="matrix(0.708377 -0.705834 0.708377 0.705834 11 38.0258)" stroke="black"/>
                <rect width="38.2892" height="3.82892" rx="1.91446" transform="matrix(0.708377 0.705834 -0.708377 0.705834 13.8768 11.2716)" stroke="black"/>
            </svg>
        </div>
        <div class="lb-content">
            <div class="object-img">
            </div>
            <div class="object-desc">
            </div>
        </div>
    </div>
</section>
