.mobile-nav{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 100;
    background-color: $first-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: 0.7s transform ease-in-out;
}

.mobile-nav-close{
    position: absolute;
    top:20px;
    right: 20px;
    transition: 0.5s opacity ease-in-out;
}

.mobile-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.mobile-nav-link{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color:$main-color;
    text-decoration: none;
}