//
// Styles for mobile version
//

nav{
    position: fixed;
    top:20px;
    left:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container{
    width:280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:35px;

    svg{
        width:100%;
        fill:none;
    }
}

.nav-right{
    display: none;
}

.nav-burger{
    width:40px;
    height:30px;
    transition: 0.5s opacity ease-in-out;
}

//
// Styles for tablet version
//
@media screen and (min-width:720px){

    nav{
        top:40px;
    }

    .nav-container{
        width:650px;
    }

    .nav-left{
        width:45px;
        height:40px;
        cursor: pointer;

        path{
            fill: transparent;
            transition: fill 0.7s ease-in-out;
        }
    }

    .nav-left:hover{

        path{
            transition: fill 0.7s ease-in-out;
            fill: $heart-fill;
        }
    }

    .nav-right{
        width:360px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-link{
        font-family: "Montserrat",sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color:$main-color;
        text-decoration: none;
        transition: 0.7s color ease-in-out;
    }

    .nav-link:first-child:hover{
        color:$first-hover-color;
    }

    .nav-link:nth-child(2):hover{
        color:$second-hover-color;
    }

    .nav-link:nth-child(3):hover{
        color:$third-hover-color;
    }

    .nav-burger{
        display: none;
    }
}

//
// Styles for desktop version
//
@media screen and (min-width:1200px){

    nav{
        top:40px;
    }

    .nav-container{
        width:1200px;
    }

    .nav-right{
        width:400px;
    }
}